@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

/*
<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M20.75 7C20.75 7.41421 20.4142 7.75 20 7.75L4 7.75C3.58579 7.75 3.25 7.41421 3.25 7C3.25 6.58579 3.58579 6.25 4 6.25L20 6.25C20.4142 6.25 20.75 6.58579 20.75 7Z" fill="#FFFF00"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M20.75 12C20.75 12.4142 20.4142 12.75 20 12.75L4 12.75C3.58579 12.75 3.25 12.4142 3.25 12C3.25 11.5858 3.58579 11.25 4 11.25L20 11.25C20.4142 11.25 20.75 11.5858 20.75 12Z" fill="#FFFF00"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M20.75 17C20.75 17.4142 20.4142 17.75 20 17.75L4 17.75C3.58579 17.75 3.25 17.4142 3.25 17C3.25 16.5858 3.58579 16.25 4 16.25L20 16.25C20.4142 16.25 20.75 16.5858 20.75 17Z" fill="#FFFF00"></path> </g></svg>
*/
body {
    background-color: #fdebe6;
    font-family: "Laila", serif;;
}

a {
    text-decoration: none;
}
a:hover{
    color:#f1415e !important;
}

.logo{
    height: 50px;
}

.about_sec{
    width: 49%;
}

.latest_games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest_games_card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*transition: transform .1s*/
}

.card{
    transition: transform .5s;
    transition-timing-function: ease-in-out;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 15px rgba(189, 189, 189, 0.79);
}

.recent_games {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recent_games_card {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rev_urs_img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.disclamer_img {
    height: 70px;
    width: 70px;
}

.text-light-grey {
    color: #B7B4BB;
}

/* Privacy page css */
#privacy {
    color: #ffffff;
}

@media screen and (max-width: 480px) {
    .about_sec{
        width: 100%;
    }
    .latest_games_card {
        width: 100%;
    }
    .recent_games_card {
        width: 100%;
    }
}